body {
    background: black;
    color: aliceblue;
}

#phone-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100vw;
    max-width: 500px;
    min-height: 0px;
    border-radius: 50px;
    aspect-ratio: 10 / 16;
}

#phone-screen {
    background-color: black;
    width: 95%;
    height: 80%;
    padding: 10px;
}