body {
    background: black;
    color: aliceblue;
}

#phone-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100vw;
    max-width: 500px;
    min-height: 0px;
    border-radius: 50px;
    aspect-ratio: 10 / 16;
}

#phone-screen {
    background-color: black;
    width: 95%;
    height: 80%;
    padding: 10px;
}

.button {
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 166, 0);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}