:root {
    --title-bg: blue;
    --heading-bg: skyblue;
    --global-margin: 5px;
    --authors-bg: lightblue;
    --text-color: aliceblue;
    --button-bg: red;
    --button-hover-bg: orange;
}

body {
    background: black;
    color: var(--text-color);
}

#phone-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100vw;
    max-width: 500px;
    min-height: 0px;
    border-radius: 50px;
    aspect-ratio: 10 / 16;
}

#phone-screen {
    background-color: black;
    width: 95%;
    height: 80%;
    padding: 10px;
}

.button {
    background-color: var(--button-bg);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px 20px;
    margin: var(--global-margin);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-bg);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    padding: 15px 25px;
    margin: var(--global-margin);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2.5s;
}

.title {
    background-color: var(--title-bg);
    border-radius: 20px;
    color: var(--text-color);
    padding: 10px 20px;
    margin: var(--global-margin);
    text-align: center;
    text-decoration: none;
    font-size: 40px;
}

.heading {
    background-color: var(--heading-bg);
    border-radius: 20px;
    color: var(--text-color);
    padding: 10px 20px;
    margin: var(--global-margin);
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

#authors {
    background-color: var(--authors-bg);
    border-radius: 20px;
    color: var(--text-color);
    padding: 10px 20px;
    margin: var(--global-margin);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}